<div class="container" style="width: 25%">
    <div class="row">
      <div class="col-sm-12 foo">
        <div class="jumbotron">
          <div class="row" style="font-weight: bold">
            About
          </div>
          <br>
          <div class="row">
            Sprint is a minimalist desktop time management application inspired by the Pomodoro Technique. Choose a sprint length, enter
            a brief description of the activity, and get things done. Preferred browser: Chrome. Terms and conditions.
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 foo">
            <table style="width: 100%">
              <tr>
                <td>Version 1.0</td>
                <td style="text-align: right">
                  <a href="#"> Report a bug</a>
                </td>
              </tr>
            </table>
  
          </div>
        </div>
      </div>
    </div>