<!-- <div class="customers view indent"> -->
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-user"></span>
                {{ title }}
            </h3>
            <button type="button" [disabled]="sprintService.pastsprintsFiltered.length==0" (click)="DeletePastSpritnsByUser()" class="btn btn-danger btn-block btn-rounded"
                style="width: 100px;">Dellete All</button>
            <br>
            <div class="inputSearch">
                <input type="text" #search (keyup)="searchPastSprint(search.value)" class="form-control" placeholder="Filter by length, status, date or description">                
            </div>

        </header>
        <br />

        <h5>Total records: {{TotalRecords}}</h5>

        <table border="0" style="width: 100%;height: auto;">
            <tr>
                <td style="text-align: right; width: 100%">
                    <!-- pager -->
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="btn-group mr-2" role="group" aria-label="First group" title="Items per page">
                        <button type="button" class="btn btn-secondary" (click)="setItemsPerPage(5);" [disabled]="ItemsPage == 5 || sprintService.pastsprintsFiltered.length==0">5</button>
                        <button type="button" class="btn btn-secondary" (click)="setItemsPerPage(10);" [disabled]="ItemsPage == 10 || sprintService.pastsprintsFiltered.length==0">10</button>
                        <button type="button" class="btn btn-secondary" (click)="setItemsPerPage(20);" [disabled]="ItemsPage == 20 || sprintService.pastsprintsFiltered.length==0">20</button>
                    </div>

                </td>
            </tr>
        </table>

        <div class="table">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>length</th>                        
                        <th>status</th>                        
                        <th>description</th>
                        <th>notify</th>                        
                        <th>createdAt</th>
                        <th>startedAt</th>
                        <th>finishedAt</th>
                    </tr>
                </thead>                
                <tr *ngFor="let ps of sprintService.pastsprintsFiltered ">
                    <td style="width: 150px;">{{ ps.name }} ({{ ps.duration | formatDuration }})</td>                    
                    <td style="width: 150px;">{{ ps.status }}</td>                    
                    <td>{{ ps.description }}</td>
                    <td>{{ ps.notify }}</td>                    
                    <td>{{ ps.createdAt | date:'dd-MM-yyyy HH:mm' }}</td>
                    <td>{{ ps.startedAt | date:'HH:mm:ss' }}</td>
                    <td>{{ ps.finishedAt | date:'HH:mm:ss' }}</td>
                </tr>

            </table>

        </div>

        <table border="0" style="width: 100%;height: auto;">
            <tr>
                <td style="text-align: right; width: 100%">
                    <!-- pager -->
                    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(1)">First</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === 1}">
                            <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                        </li>
                        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                            <a (click)="setPage(page)">{{page}}</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                            <a (click)="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </td>
                <td style="text-align: right;">                    
                    <div class="btn-group mr-2" role="group" aria-label="First group" title="Items per page">
                        <button type="button" class="btn btn-secondary" (click)="setItemsPerPage(5);" [disabled]="ItemsPage == 5 || sprintService.pastsprintsFiltered.length==0">5</button>
                        <button type="button" class="btn btn-secondary" (click)="setItemsPerPage(10);" [disabled]="ItemsPage == 10 || sprintService.pastsprintsFiltered.length==0">10</button>
                        <button type="button" class="btn btn-secondary" (click)="setItemsPerPage(20);" [disabled]="ItemsPage == 20 || sprintService.pastsprintsFiltered.length==0">20</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>

<!-- </div> -->