<div class="container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <!-- <a class="nav-link active" href="sprint" (click)="showPastSprint()">PastSprints</a> -->
          <!-- <a class="btn btn-default" [routerLink]="['/sprint/sprintgrid']">PastSprint</a> -->          
          <button type="button" class="btn btn-secondary" (click)="showPastSprints()" >Past Sprint</button>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link" [routerLink]="['grid']">New Sprint</a> -->
          <!-- <a class="btn btn-default" [routerLink]="['/sprint/grid']">New Sprint</a> -->          
          <button type="button" class="btn btn-secondary" (click)="showNewSprint()" >New Sprint</button>
        </li>        
      </ul>
      <br><br>
      <router-outlet></router-outlet>
      
</div>

